TradersMarketplace/Service References/ApplicationDbServiceClient/Microsoft.AspNet.Identity.EntityFramework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Entity" />
  <xs:complexType name="IdentityDbContextOfApplicationUseropwjd3rz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IdentityDbContextOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ApplicationUser" Namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentityDbContextOfApplicationUserIdentityRolestringIdentityUserLoginIdentityUserRoleIdentityUserClaimBSeew7sY">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentityDbContextOfApplicationUseropwjd3rz" nillable="true" type="tns:IdentityDbContextOfApplicationUseropwjd3rz" />
  <xs:complexType name="IdentityDbContextOfApplicationUserIdentityRolestringIdentityUserLoginIdentityUserRoleIdentityUserClaimBSeew7sY">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IdentityDbContextOf{0}{1}{2}{3}{4}{5}{#}" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ApplicationUser" Namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
          <GenericParameter Name="IdentityRole" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="IdentityUserLogin" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" />
          <GenericParameter Name="IdentityUserRole" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" />
          <GenericParameter Name="IdentityUserClaim" Namespace="http://schemas.datacontract.org/2004/07/Microsoft.AspNet.Identity.EntityFramework" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Entity" base="q1:DbContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequireUniqueEmail" type="xs:boolean" />
          <xs:element minOccurs="0" name="Roles" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentityDbContextOfApplicationUserIdentityRolestringIdentityUserLoginIdentityUserRoleIdentityUserClaimBSeew7sY" nillable="true" type="tns:IdentityDbContextOfApplicationUserIdentityRolestringIdentityUserLoginIdentityUserRoleIdentityUserClaimBSeew7sY" />
</xs:schema>