TradersMarketplace/Service References/MenusServiceClient/Common.Views.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenusView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenusView" nillable="true" type="tns:MenusView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenusView" nillable="true" type="tns:ArrayOfMenusView" />
  <xs:complexType name="MenusView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasSubmenus" type="xs:boolean" />
      <xs:element minOccurs="0" name="MenuId" type="xs:int" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Submenus" nillable="true" type="tns:ArrayOfMenusView" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenusView" nillable="true" type="tns:MenusView" />
</xs:schema>