TradersMarketplace/Service References/MenusServiceClient/Common.Views.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
  <xs:complexType name="ArrayOfMenusView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenusView" nillable="true" type="tns:MenusView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenusView" nillable="true" type="tns:ArrayOfMenusView" />
  <xs:complexType name="MenusView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasSubmenus" type="xs:boolean" />
      <xs:element minOccurs="0" name="MenuId" type="ser:guid" />
      <xs:element minOccurs="0" name="MenuRoles" nillable="true" type="tns:ArrayOfRoleView" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="MenuRolesList" nillable="true" type="q1:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="ParentId" type="ser:guid" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Submenus" nillable="true" type="tns:ArrayOfMenusView" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenusView" nillable="true" type="tns:MenusView" />
  <xs:complexType name="ArrayOfRoleView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleView" nillable="true" type="tns:RoleView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleView" nillable="true" type="tns:ArrayOfRoleView" />
  <xs:complexType name="RoleView">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleView" nillable="true" type="tns:RoleView" />
</xs:schema>