TradersMarketplace/Service References/MenusServiceClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenusService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Common.Views" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenusService_GetGuestMenus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGuestMenus" />
  </wsdl:message>
  <wsdl:message name="IMenusService_GetGuestMenus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGuestMenusResponse" />
  </wsdl:message>
  <wsdl:message name="IMenusService_GetUserMenus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMenus" />
  </wsdl:message>
  <wsdl:message name="IMenusService_GetUserMenus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMenusResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenusService">
    <wsdl:operation name="GetGuestMenus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenusService/GetGuestMenus" message="tns:IMenusService_GetGuestMenus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenusService/GetGuestMenusResponse" message="tns:IMenusService_GetGuestMenus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMenus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenusService/GetUserMenus" message="tns:IMenusService_GetUserMenus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenusService/GetUserMenusResponse" message="tns:IMenusService_GetUserMenus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenusService" type="tns:IMenusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGuestMenus">
      <soap:operation soapAction="http://tempuri.org/IMenusService/GetGuestMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMenus">
      <soap:operation soapAction="http://tempuri.org/IMenusService/GetUserMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenusService">
    <wsdl:port name="BasicHttpBinding_IMenusService" binding="tns:BasicHttpBinding_IMenusService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BusinessLayer_WebServices/MenusService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>