TradersMarketplace/Service References/RolesServiceClient/Common.Views.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoleView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleView" nillable="true" type="tns:RoleView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleView" nillable="true" type="tns:ArrayOfRoleView" />
  <xs:complexType name="RoleView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleView" nillable="true" type="tns:RoleView" />
</xs:schema>