TradersMarketplace/Service References/ProductCategoriesServiceClient/Common.Views.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCategoryView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryView" nillable="true" type="tns:CategoryView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryView" nillable="true" type="tns:ArrayOfCategoryView" />
  <xs:complexType name="CategoryView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="ser:guid" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategories" nillable="true" type="tns:ArrayOfCategoryView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryView" nillable="true" type="tns:CategoryView" />
</xs:schema>