TradersMarketplace/Service References/CreditCardsServiceClient/Common.Views.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCreditCardTypeView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditCardTypeView" nillable="true" type="tns:CreditCardTypeView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditCardTypeView" nillable="true" type="tns:ArrayOfCreditCardTypeView" />
  <xs:complexType name="CreditCardTypeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardTypeView" nillable="true" type="tns:CreditCardTypeView" />
</xs:schema>