TradersMarketplace/Service References/UsersServiceClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersService_RegisterBuyer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterBuyer" />
  </wsdl:message>
  <wsdl:message name="IUsersService_RegisterBuyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterBuyerResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_RegisterSeller_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSeller" />
  </wsdl:message>
  <wsdl:message name="IUsersService_RegisterSeller_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSellerResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_IsUserAuthenticated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserAuthenticated" />
  </wsdl:message>
  <wsdl:message name="IUsersService_IsUserAuthenticated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserAuthenticatedResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersService">
    <wsdl:operation name="RegisterBuyer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/RegisterBuyer" message="tns:IUsersService_RegisterBuyer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/RegisterBuyerResponse" message="tns:IUsersService_RegisterBuyer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterSeller">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/RegisterSeller" message="tns:IUsersService_RegisterSeller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/RegisterSellerResponse" message="tns:IUsersService_RegisterSeller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserAuthenticated">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/IsUserAuthenticated" message="tns:IUsersService_IsUserAuthenticated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/IsUserAuthenticatedResponse" message="tns:IUsersService_IsUserAuthenticated_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsersService" type="tns:IUsersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterBuyer">
      <soap:operation soapAction="http://tempuri.org/IUsersService/RegisterBuyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSeller">
      <soap:operation soapAction="http://tempuri.org/IUsersService/RegisterSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserAuthenticated">
      <soap:operation soapAction="http://tempuri.org/IUsersService/IsUserAuthenticated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersService">
    <wsdl:port name="BasicHttpBinding_IUsersService" binding="tns:BasicHttpBinding_IUsersService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BusinessLayer_WebServices/UsersService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>