TradersMarketplace/Service References/ProductsServiceClient/Common.Views.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductListView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductListView" nillable="true" type="tns:ProductListView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductListView" nillable="true" type="tns:ArrayOfProductListView" />
  <xs:complexType name="ProductListView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductListView" nillable="true" type="tns:ProductListView" />
  <xs:complexType name="ArrayOfCartItemView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartItemView" nillable="true" type="tns:CartItemView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartItemView" nillable="true" type="tns:ArrayOfCartItemView" />
  <xs:complexType name="CartItemView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductQty" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartItemView" nillable="true" type="tns:CartItemView" />
  <xs:complexType name="ShoppingCartView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartItems" nillable="true" type="tns:ArrayOfCartItemView" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="VatAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="VatRate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartView" nillable="true" type="tns:ShoppingCartView" />
  <xs:complexType name="ProductDetailsView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="QtyAvailable" type="xs:int" />
      <xs:element minOccurs="0" name="SellerUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDetailsView" nillable="true" type="tns:ProductDetailsView" />
</xs:schema>