TradersMarketplace/Service References/ProductsServiceClient/Common.Views.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductListView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductListView" nillable="true" type="tns:ProductListView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductListView" nillable="true" type="tns:ArrayOfProductListView" />
  <xs:complexType name="ProductListView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductListView" nillable="true" type="tns:ProductListView" />
</xs:schema>