TradersMarketplace/Service References/ProductsServiceClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Common.Views" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductsService_GetLatestProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestProducts" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetLatestProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByCategory" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_IsCartQuantityRequestedAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCartQuantityRequestedAvailable" />
  </wsdl:message>
  <wsdl:message name="IProductsService_IsCartQuantityRequestedAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCartQuantityRequestedAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_AddProductToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToCart" />
  </wsdl:message>
  <wsdl:message name="IProductsService_AddProductToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_UpdateCart_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCart" />
  </wsdl:message>
  <wsdl:message name="IProductsService_UpdateCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCartResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetShoppingCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCart" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetShoppingCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetails" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetNumberOfItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfItems" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetNumberOfItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductsBySeller_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsBySeller" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductsBySeller_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsBySellerResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IProductsService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductsService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IProductsService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetCommissionTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissionTypes" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetCommissionTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissionTypesResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductsService">
    <wsdl:operation name="GetLatestProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetLatestProducts" message="tns:IProductsService_GetLatestProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetLatestProductsResponse" message="tns:IProductsService_GetLatestProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetAllProducts" message="tns:IProductsService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetAllProductsResponse" message="tns:IProductsService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProductsByCategory" message="tns:IProductsService_GetProductsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductsByCategoryResponse" message="tns:IProductsService_GetProductsByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCartQuantityRequestedAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/IsCartQuantityRequestedAvailable" message="tns:IProductsService_IsCartQuantityRequestedAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/IsCartQuantityRequestedAvailableResponse" message="tns:IProductsService_IsCartQuantityRequestedAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProductToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/AddProductToCart" message="tns:IProductsService_AddProductToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/AddProductToCartResponse" message="tns:IProductsService_AddProductToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/UpdateCart" message="tns:IProductsService_UpdateCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/UpdateCartResponse" message="tns:IProductsService_UpdateCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetShoppingCart" message="tns:IProductsService_GetShoppingCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetShoppingCartResponse" message="tns:IProductsService_GetShoppingCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProductDetails" message="tns:IProductsService_GetProductDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductDetailsResponse" message="tns:IProductsService_GetProductDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetNumberOfItems" message="tns:IProductsService_GetNumberOfItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetNumberOfItemsResponse" message="tns:IProductsService_GetNumberOfItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsBySeller">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProductsBySeller" message="tns:IProductsService_GetProductsBySeller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductsBySellerResponse" message="tns:IProductsService_GetProductsBySeller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProduct" message="tns:IProductsService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductResponse" message="tns:IProductsService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/AddProduct" message="tns:IProductsService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/AddProductResponse" message="tns:IProductsService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/UpdateProduct" message="tns:IProductsService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/UpdateProductResponse" message="tns:IProductsService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/DeleteProduct" message="tns:IProductsService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/DeleteProductResponse" message="tns:IProductsService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommissionTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetCommissionTypes" message="tns:IProductsService_GetCommissionTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetCommissionTypesResponse" message="tns:IProductsService_GetCommissionTypes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductsService" type="tns:IProductsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestProducts">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetLatestProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProductsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCartQuantityRequestedAvailable">
      <soap:operation soapAction="http://tempuri.org/IProductsService/IsCartQuantityRequestedAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductToCart">
      <soap:operation soapAction="http://tempuri.org/IProductsService/AddProductToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <soap:operation soapAction="http://tempuri.org/IProductsService/UpdateCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProductDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfItems">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetNumberOfItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsBySeller">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProductsBySeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IProductsService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductsService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IProductsService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommissionTypes">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetCommissionTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductsService">
    <wsdl:port name="BasicHttpBinding_IProductsService" binding="tns:BasicHttpBinding_IProductsService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BusinessLayer_WebServices/ProductsService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>